name: Bandit Scan

on:
  workflow_dispatch:
  push:
    paths:
      - '**.py'

jobs:
  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Bandit
        uses: PyCQA/bandit-action@v1
