name: Super Linter

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  super-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Super-Linter
        uses: super-linter/super-linter@v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_YAML: true
          VALIDATE_PYTHON: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_JAVA: false
          VALIDATE_GOOGLE_JAVA_FORMAT: false
          VALIDATE_CHECKOV: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_YAML_PRETTIER: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
